---
// index.astro
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Intro from '../components/Intro.astro';

const heroProps = {
  backgroundImage: "/images/hero-background.png",
  svgLogo: "public/images/Johann Quast.svg",
  buttonText: "Wir freuen uns auf Ihren Anruf",
  buttonLink: "/kontakt"
};

const introProps = {
  imageUrl: "/images/intro1.jpg",
  imageAlt: "Frischer Koriander",
  title: "Frische Lebensmittel – Direkt und zuverlässig, wann und wo Sie wollen",
  text: "<strong>Seit über 30 Jahren</strong> bringen wir Ihnen frisches Obst und Gemüse direkt aus dem Herzen Hamburgs – <strong>vom Hamburger Großmarkt zu Ihnen</strong>. Wir stehen für Qualität, Zuverlässigkeit und faire Preise und setzen alles daran, Ihre Wünsche flexibel und persönlich zu erfüllen. Mit einem starken Fokus auf Qualität und einem echten Verständnis für Ihre Anforderungen liefern wir die Frische direkt dorthin, wo Sie sie brauchen – jeden Tag und überall."
};
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>JOHANN QUAST</title>
  </head>
  <body>
    <!-- Header-Bereich -->
    <Header />

    <!-- Hero-Bereich -->
    <Hero {...heroProps} />

    <!-- Intro-Bereich -->
    <Intro {...introProps} />

    <!-- Weiterer Inhalt hier -->
  </body>
</html>