---
// Header.astro
import Navigation from './Navigation.astro';

const navItems = [
  { href: '/service', title: 'Service' },
  { href: '/aktuelles', title: 'Aktuelles' },
  { href: '/jobs', title: 'Jobs' },
  { href: '/kontakt', title: 'Kontakt' }
];
---

<header>
  <div class="logo">
    <a href="/">
      <img src="/images/logo.svg" alt="Johann-Quast-Logo">
    </a>
  </div>
  <Navigation navItems={navItems} />
</header>